footer {
  background-color: #f6f3ed;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 30px 0;
  text-align: left;
}

.pj-name {
  width: fit-content;
  font-family: "PO";
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pj-logo {
  display: block;
  width: fit-content;
  margin-bottom: 15px;
}

.pj-logo img {
  width: 290px;
  height: auto;
}

.pj-description {
  text-align: justify;
  max-width: 387px;
}

.footer-b-t {
  font-weight: bold;
  margin-bottom: 15px;
}

.list-connect li,
.list-contact li {
  margin-bottom: 5px;
}

.list-contact li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  text-decoration: none;
}

.list-social {
  display: flex;
  gap: 16px;
}

.list-social li {
  display: flex;
  align-items: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  margin: 30px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  gap: 20px;
  flex-wrap: wrap;
}

.copyright ul {
  display: flex;
  gap: 30px;
}

@media (max-width: 992px) {
  .pj-description {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .copyright ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
