nav {
  height: fit-content;
  min-height: 100px;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  gap: 40px;
}

.left-menu {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.logo-ctn {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.nav-links a {
  padding: 12px;
  border-radius: 16px;
  position: relative;
  color: #333;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #fdeeeb;
}

.nav-links a:hover::after {
  width: 100%;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn-register {
  display: block;
  width: 168px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  background-color: #eb5d40;
}

.btn-register:hover {
  background-color: #d9534f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.user {
  display: flex;
  gap: 16px;
  width: max-content;
  align-items: center;
}

.user-avatar {
  border: 2px solid #67c2ff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Mobile Menu Styles */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  transition: right 0.3s ease;
  background: url(../images/bg-menu-mb.png) no-repeat center center/cover;
}

.mobile-menu * {
  color: #ffffff;
}

.mobile-menu .mobile-nav-links a {
  font-family: "PhuduBold";
  font-size: 40px;
  color: #fdf5ea;
  font-weight: normal;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.close-menu {
  width: 30px;
  height: 30px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.close-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  left: 0;
}

.close-menu span:first-child {
  transform: rotate(45deg);
}

.close-menu span:last-child {
  transform: rotate(-45deg);
}

.mobile-menu-content {
  padding: 20px;
}

.mobile-nav-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
}

.mobile-nav-links li {
  margin: 15px 0;
}

.mobile-nav-links a {
  font-family: "Phudu";
  font-size: 28px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: bold;
}

.mobile-user {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 15px;
  border-radius: 12px;
  background-color: #ffffff4d;
  position: relative;
}

.arr-right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-btn {
  width: 100%;
  text-align: center;
}

body.menu-open {
  overflow: hidden;
}

.burger-menu {
  display: none;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .nav-links {
    font-size: 14px;
    gap: 5px;
  }
}

@media (max-width: 992px) {
  .btn-register {
    display: none;
  }

  .btn-register.mobile-btn {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
  }

  .user {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
