@font-face {
  font-family: "BeVietnamPro";
  src: url(../fonts/BeVietnamPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PO";
  src: url(../fonts/0204-LNTH-PeterObscure.ttf) format("truetype");
}

@font-face {
  font-family: "Phudu";
  src: url(../fonts/Phudu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PhuduEB";
  src: url(../fonts/Phudu-ExtraBold.ttf);
}

@font-face {
  font-family: "MontMedium";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "MontRegular";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "PhuduBold";
  src: url(../fonts/Phudu-Bold.ttf);
}

* {
  font-family: "BeVietnamPro";
}
